.wrapper {
    @media only screen and (min-width: 1800px) {
        max-width: 1440px;
        margin: 0 auto;
    }

    @media only screen and (max-width: 1799px) {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }

    @media only screen and (max-width: 1200px) {
        padding-left: 5%;
        padding-right: 5%;
    }
}