.logo {
    display: flex;
    height: 60px;
    align-items: center;

    &__link {
        display: flex;
        text-decoration: none;
    }

    &__text {
        font-family: var(--Poppins);
        font-size: calc(var(--size-l));
        font-weight: var(--weight-xlg);
        line-height: 28px;
        color: var(--white);
    }
}