.contact {
    margin-top: calc(var(--span-2xl));
    margin-bottom: 60px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;

    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &__left {
        display: flex;
        justify-content: center;
    }

    &__title {
        display: flex;
        align-items: center;
        text-align: center;

        &--green {
            font-family: var(--Poppins);
            font-size: var(--size-m);
            font-weight: var(--weight-lg);
            line-height: 19px;
            color: var(--green);
            margin-right: 8px;
            text-transform: capitalize;
        }
    }

    &__heading {
        margin-top: var(--span-xs);
        font-family: var(--Poppins);
        font-size: calc(var(--size-l) + 2px);
        font-weight: var(--weight-lg);
        line-height: 31px;
        color: var(--light-green);
        text-transform: capitalize;
        text-align: center;
    }

    &__paragraph {
        margin-top: var(--span-m);
        font-family: var(--Poppins);
        font-size: var(--size-m);
        font-weight: var(--weight-sm);
        line-height: 26px;
        color: var(--slate);
        text-align: center;
    }

    &__box {
        margin: var(--span-m) auto;
        margin-bottom: 0;
        display: flex;
        justify-content: center;
    }

    &__link {
        margin-top: var(--span-s);
        display: inline-block;
        text-decoration: none;
        font-family: var(--Poppins);
        font-size: var(--size-s);
        font-weight: var(--weight-sm);
        line-height: 21px;
        color: var(--green);
        border: 1px solid var(--green);
        padding: calc(var(--span-xs) + 5px) calc(var(--span-s) + 5px);
        transition: all 300ms;
        border-radius: 5px;

        &:hover {
            color: var(--green);
            background: var(--green-tint);
        }
    }

    &__socials {
        margin-top: var(--span-l);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--span-s);
    }

    &__icon {

        a {
            color: var(--green);
            text-decoration: none;

            i {
                font-size: var(--size-l);
            }
        }
    }
}