.header {
    padding-top: var(--span-s);
    display: flex;
    justify-content: space-between;
    align-items: center;


    @media only screen and (min-width: 1800px) {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }

    @media only screen and (max-width: 1799px) {
        padding-left: 7.5%;
        padding-right: 7.5%;
    }

    @media only screen and (max-width: 1200px) {
        padding-left: 5%;
        padding-right: 5%;
    }

    &__menu {
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
            fill: var(--green);
            width: 24px;
            height: 24px;
        }

        @media only screen and (max-width: 600px) {
            display: flex;
        }
    }
}